

<div class="card" style="width: 18rem;">
    <img src="{{ asset("/photos/" ~ nomDuDossier ~ "/" ~ fichier.filename|url_encode) }}" class="img-fluid" >
    <div class="card-body">
        <h5 class="card-title">{{ fichier.filename }}</h5>
        <p class="card-text">Ceci est un chaton. <br> Oui.... Vraiment.</p>
    </div>
</div>
